<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar navbar-dark bg-dark" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/greeting"><li>Greeting</li></a>
            <a class="nav-item nav-link" href="/addresses"><li>Addresses page</li></a>
            <a class="nav-item nav-link" href="/formulaireadress"><li>Search Adress</li></a>
        </div>
    </div>
   </nav>