<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/Fragment/header"></head>

<div th:insert="/Fragment/navigation"></div>
<body class=container>
	<h1>Formulaire SEARCH ADDRESS</h1>
	
	<form action="/meteo" method="POST">
		Saisissez l'adresse : 
		<input name="query" type="text" />
		<input type="submit" />
	</form>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
	
</body>
</html>


