<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/Fragment/header"></head>

<div th:insert="/Fragment/navigation"></div>
<body class=container>
	<h1>Formulaire Recherche d'adresses</h1>
	
	<form action="/meteo" method="POST">
		Saisissez l'adresse : 
		<input name="query" type="text" />
    <div class="col text-center">
						<input type="submit" class="btn btn-secondary" value="Trouver" />
					</div>	</form>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
	
</body>
</html>


