<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head th:insert="/Fragment/header.html"></head>

<div th:insert="/Fragment/navigation.html"></div>

<body class=container>


	<p th:text="'Adresse demandée : ' + ${query}" />
	<br />
	<p th:text="'Lat : ' + ${gps_x}" />
	<br />
	<p th:text="'Lon : ' + ${gps_y}" />
	<br />
	<p th:text="'Prévision météo : ' + ${prevision}" />
	<br />
	<p th:text="'Température : ' + ${temperature} + '°C'" />
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 

</body>
</html>